HTML {
	OVERFLOW-Y: scroll
}
BODY {
	BACKGROUND-IMAGE: url(/images/gradientfromtop.gif); BACKGROUND-COLOR: #ffffff; MARGIN: 0px; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; FONT-SIZE: 12px
}
BODY {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
P {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
H1 {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
H2 {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
H3 {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
H4 {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TABLE {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TD {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TH {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
UL {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
OL {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TEXTAREA {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
INPUT {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: 200%; FONT-WEIGHT: normal
}
H2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-SIZE: 160%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 120%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 90%
}
H6 {
	FONT-SIZE: 80%
}
H1 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
H2 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
H3 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
H4 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
H5 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
H6 {
	BACKGROUND-COLOR: transparent; COLOR: #000000
}
IFRAME {
	MARGIN: 0px
}
DIV {
	WIDTH: 100%
}
TABLE {
	FONT-SIZE: 100%
}
TH {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TABLE.example {
	BACKGROUND-IMAGE: url(images/bgfadegreen.gif); BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #e5eecc; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 8px
}
TABLE.example_code {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
TABLE.example_code TD {
	FONT-FAMILY: courier new; FONT-SIZE: 110%
}
TABLE.example_result {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
TABLE.code {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #e5eecc; MARGIN: 0px; PADDING-LEFT: 3px; WIDTH: 100%; PADDING-RIGHT: 3px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 3px
}
TABLE.code TD {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: courier new; FONT-SIZE: 110%; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
TABLE.example_code P {
	FONT-FAMILY: courier new
}
TABLE.code P {
	FONT-FAMILY: courier new
}
TD.code {
	FONT-FAMILY: courier new
}
DIV.example {
	BACKGROUND-IMAGE: url(/images/bgfadegreen.gif); BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #e5eecc; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 616px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; CLEAR: both; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 8px
}
DIV.example_code {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; WIDTH: 606px; PADDING-RIGHT: 4px; FONT-FAMILY: courier new; FONT-SIZE: 110%; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
DIV.example_result {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; WIDTH: 606px; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
DIV.code {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #e5eecc; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 622px; PADDING-RIGHT: 5px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 5px
}
DIV.code DIV {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; WIDTH: 612px; PADDING-RIGHT: 4px; FONT-FAMILY: courier new; FONT-SIZE: 110%; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
DIV.example_code P {
	FONT-FAMILY: courier new
}
DIV.code P {
	FONT-FAMILY: courier new
}
DIV.code DIV {
	FONT-FAMILY: courier new
}
DIV.tryit_ex {
	WIDTH: 600px; MARGIN-BOTTOM: 5px; HEIGHT: 50px; CLEAR: both
}
DIV.tryit_ex IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FLOAT: left; BORDER-TOP: 0px; MARGIN-RIGHT: 10px; BORDER-RIGHT: 0px
}
DIV.tryit_ex H2 {
	PADDING-TOP: 5px
}
TABLE.lamp {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 0px
}
TABLE.lamp TH {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000000; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 0px
}
TABLE.lamp TD {
	BACKGROUND-IMAGE: url(images/bgfadegreen.gif); PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e5eecc; PADDING-LEFT: 10px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; PADDING-TOP: 4px
}
TABLE.reference {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid
}
TABLE.reference TH {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #e5eecc; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; VERTICAL-ALIGN: top; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid; PADDING-TOP: 3px
}
TABLE.reference TD {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; VERTICAL-ALIGN: top; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid; PADDING-TOP: 3px
}
TABLE.intro {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; COLOR: #555555; FONT-SIZE: 110%; PADDING-TOP: 5px
}
TABLE.summary {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fafad2; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #555555; FONT-SIZE: 100%; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 5px
}
H2.example {
	BACKGROUND-COLOR: transparent; MARGIN-TOP: 0px; COLOR: #617f10
}
H2.example_head {
	BACKGROUND-COLOR: transparent; MARGIN-TOP: 0px; COLOR: #617f10
}
H2.example {
	FONT-SIZE: 120%
}
H2.example_head {
	FONT-SIZE: 140%
}
H2.home {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0px; PADDING-LEFT: 1px; MARGIN-BOTTOM: 5px; COLOR: #900b09; FONT-SIZE: 120%; PADDING-TOP: 1px
}
H2.tutheader {
	BACKGROUND-IMAGE: url(/images/gradientfromtop.gif); BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 4px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -50px; COLOR: #303030; CLEAR: both; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 2px
}
H2.left {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0px; MARGIN-BOTTOM: 4px; COLOR: #404040; FONT-SIZE: 120%; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
SPAN.marked {
	BACKGROUND-COLOR: transparent; COLOR: #e80000
}
SPAN.deprecated {
	BACKGROUND-COLOR: transparent; COLOR: #e80000
}
P.tutintro {
	MARGIN-TOP: 0px; FONT-SIZE: 125%
}
DIV.tutintro {
	WIDTH: 622px
}
DIV.tutintro IMG {
	MARGIN-BOTTOM: 10px; FLOAT: left; MARGIN-RIGHT: 20px
}
DIV.tutintro P {
	MARGIN-TOP: 0px; FONT-SIZE: 125%
}
P.intro {
	BACKGROUND-COLOR: transparent; MARGIN-TOP: 10px; COLOR: #404040; FONT-SIZE: 120%
}
PRE {
	FONT-FAMILY: "courier new"; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; FONT-SIZE: 110%
}
IMG.float {
	FLOAT: left
}
IMG.navup {
	WIDTH: 18px; HEIGHT: 22px; VERTICAL-ALIGN: middle
}
HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: #d4d4d4; HEIGHT: 1px; COLOR: #d4d4d4; CLEAR: both; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A.example {
	FONT-WEIGHT: bold
}
A:link {
	BACKGROUND-COLOR: transparent; COLOR: #900b09
}
A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #900b09
}
A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000
}
A:active {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000
}
A.topnav:link {
	COLOR: #555555; TEXT-DECORATION: none
}
A.topnav:visited {
	COLOR: #555555; TEXT-DECORATION: none
}
A.topnav:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
A.topnav:active {
	COLOR: #ff4800; TEXT-DECORATION: none
}
A.plain:link {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
A.plain:visited {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
A.plain:hover {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.plain:active {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.header:link {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
A.header:visited {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
A.header:hover {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
A.header:active {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
TABLE.sitemap A:link {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
TABLE.sitemap A:visited {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
TABLE.sitemap A:hover {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
TABLE.sitemap A:active {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
#leftcolumn A:link {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
#leftcolumn A:visited {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: none
}
#leftcolumn A:hover {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
#leftcolumn A:active {
	BACKGROUND-COLOR: transparent; COLOR: black; TEXT-DECORATION: underline
}
#rightcolumn A:link {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
#rightcolumn A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
#rightcolumn A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
#rightcolumn A:active {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
.toprect_txt A:link {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
.toprect_txt A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #900b09; TEXT-DECORATION: none
}
.toprect_txt A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
.toprect_txt A:active {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000; TEXT-DECORATION: underline
}
#footer A:link {
	BACKGROUND-COLOR: transparent; COLOR: #404040; TEXT-DECORATION: none
}
#footer A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #404040; TEXT-DECORATION: none
}
#footer A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #404040; TEXT-DECORATION: underline
}
#footer A:active {
	BACKGROUND-COLOR: transparent; COLOR: #404040; TEXT-DECORATION: underline
}
A.m_item:link {
	BACKGROUND-COLOR: transparent; COLOR: white; TEXT-DECORATION: none
}
A.m_item:visited {
	BACKGROUND-COLOR: transparent; COLOR: white; TEXT-DECORATION: none
}
A.m_item:hover {
	BACKGROUND-COLOR: transparent; COLOR: white; TEXT-DECORATION: underline
}
A.m_item:active {
	BACKGROUND-COLOR: transparent; COLOR: white; TEXT-DECORATION: underline
}
A.chapter:link {
	BACKGROUND-COLOR: transparent; COLOR: #98bf21; TEXT-DECORATION: none
}
A.chapter:visited {
	BACKGROUND-COLOR: transparent; COLOR: #98bf21; TEXT-DECORATION: none
}
A.chapter:hover {
	BACKGROUND-COLOR: transparent; COLOR: #98bf21; TEXT-DECORATION: underline
}
A.chapter:active {
	BACKGROUND-COLOR: transparent; COLOR: #98bf21; TEXT-DECORATION: none
}
#leftcolumn {
	MARGIN-LEFT: 1px
}
A.tryitbtn {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.tryitbtn:link {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.tryitbtn:visited {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.showbtn {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.showbtn:link {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.showbtn:visited {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 0px; OUTLINE-WIDTH: 1px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.tryitbtn:hover {
	BACKGROUND-COLOR: #7a991a
}
A.tryitbtn:active {
	BACKGROUND-COLOR: #7a991a
}
A.showbtn:hover {
	BACKGROUND-COLOR: #7a991a
}
A.showbtn:active {
	BACKGROUND-COLOR: #7a991a
}
A.playitbtn {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffad33; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffcc00; PADDING-LEFT: 2px; OUTLINE-WIDTH: 1px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
A.playitbtn:link {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffad33; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffcc00; PADDING-LEFT: 2px; OUTLINE-WIDTH: 1px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
A.playitbtn:visited {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffad33; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffcc00; PADDING-LEFT: 2px; OUTLINE-WIDTH: 1px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
A.playitbtn:hover {
	BACKGROUND-COLOR: #e68a00
}
A.playitbtn:active {
	BACKGROUND-COLOR: #e68a00
}
A.demobtn {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ee6c32; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ee6c32; PADDING-LEFT: 5px; OUTLINE-WIDTH: 1px; PADDING-RIGHT: 5px; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.demobtn:link {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ee6c32; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ee6c32; PADDING-LEFT: 5px; OUTLINE-WIDTH: 1px; PADDING-RIGHT: 5px; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.demobtn:visited {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ee6c32; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ee6c32; PADDING-LEFT: 5px; OUTLINE-WIDTH: 1px; PADDING-RIGHT: 5px; COLOR: #ffffff; MARGIN-LEFT: 1px; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.demobtn:hover {
	BACKGROUND-COLOR: #be5628
}
A.demobtn:active {
	BACKGROUND-COLOR: #be5628
}
A.demobtn:hover {
	BACKGROUND-COLOR: #be5628
}
A.demobtn:active {
	BACKGROUND-COLOR: #be5628
}
TABLE.chapter {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-SIZE: 140%; PADDING-TOP: 0px
}
TABLE.chapter TD.prev {
	TEXT-ALIGN: left
}
TABLE.chapter TD.next {
	TEXT-ALIGN: right
}
DIV.chapter {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 20px; FONT-SIZE: 140%; PADDING-TOP: 0px
}
DIV.chapter DIV.prev {
	TEXT-ALIGN: left; WIDTH: 40%; FLOAT: left
}
DIV.chapter DIV.next {
	TEXT-ALIGN: right; WIDTH: 40%; FLOAT: right
}
.blacknav {
	TEXT-ALIGN: center; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: transparent; COLOR: white; FONT-SIZE: 10px; BORDER-TOP: #868686 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #868686 1px solid
}
SPAN.color_h1 {
	COLOR: #92b901
}
SPAN.left_h2 {
	COLOR: #92b901
}
SPAN.new {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BACKGROUND-COLOR: #98bf21; OUTLINE-STYLE: solid; OUTLINE-COLOR: #98bf21; PADDING-LEFT: 1px; OUTLINE-WIDTH: 1px; PADDING-RIGHT: 1px; FLOAT: right; COLOR: #ffffff; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid
}
#rightcolumn TABLE {
	BACKGROUND-IMAGE: url(/images/gradientfromtop.gif); BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0px; BORDER-SPACING: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -50px; MARGIN-BOTTOM: 5px; COLOR: #000000; FONT-SIZE: 11px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
#rightcolumn TH {
	PADDING-BOTTOM: 4px; COLOR: #404040; PADDING-TOP: 3px
}
#rightcolumn TD {
	BORDER-BOTTOM: #d4d4d4 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 3px
}
DIV.toprect_txt {
	BORDER-BOTTOM: #c3c3c3 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #c3c3c3 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 225px; PADDING-RIGHT: 0px; HEIGHT: 84px; COLOR: #606060; FONT-SIZE: 12px; BORDER-TOP: #c3c3c3 1px solid; TOP: 0px; BORDER-RIGHT: #c3c3c3 1px solid; PADDING-TOP: 4px; LEFT: 0px
}
DIV.toprect_img {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 227px; PADDING-RIGHT: 0px; HEIGHT: 90px; COLOR: #606060; FONT-SIZE: 12px; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
#topnav {
	BACKGROUND-IMAGE: url(/images/topnav_bg.gif); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #eeeeee; MARGIN: 5px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom; PADDING-TOP: 0px
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #909090; FONT-SIZE: 90%; PADDING-TOP: 0px
}
.notsupported {
	COLOR: rgb(197,128,128)
}
.notsupported:hover {
	COLOR: rgb(197,128,128)
}
.notsupported:active {
	COLOR: rgb(197,128,128)
}
.notsupported:visited {
	COLOR: rgb(197,128,128)
}
.notsupported:link {
	COLOR: rgb(197,128,128)
}
#err_form {
	Z-INDEX: 1; BORDER-BOTTOM: #d4d4d4 1px solid; POSITION: relative; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f1f1f1; MARGIN-TOP: 10px; PADDING-LEFT: 10px; WIDTH: 95%; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; MARGIN-LEFT: auto; BORDER-TOP: #d4d4d4 1px solid; MARGIN-RIGHT: auto; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 10px
}
#err_sent {
	Z-INDEX: 1; BORDER-BOTTOM: #d4d4d4 1px solid; POSITION: relative; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f1f1f1; MARGIN-TOP: 10px; PADDING-LEFT: 10px; WIDTH: 95%; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; MARGIN-LEFT: auto; BORDER-TOP: #d4d4d4 1px solid; MARGIN-RIGHT: auto; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 10px
}
#err_form H2 {
	MARGIN-TOP: 0px
}
#err_sent H2 {
	MARGIN-TOP: 0px
}
#err_form LABEL {
	DISPLAY: block; MARGIN-BOTTOM: 3px
}
#err_form INPUT {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 590px; PADDING-RIGHT: 4px; DISPLAY: block; HEIGHT: 16px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 4px
}
#err_form TEXTAREA {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 590px; PADDING-RIGHT: 4px; DISPLAY: block; HEIGHT: 100px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 4px
}
#err_form .submit INPUT {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0px
}
.err_close {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 58px; PADDING-RIGHT: 0px; TOP: 5px; CURSOR: pointer; RIGHT: 5px; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.expandingMenu {
	WIDTH: 165px; OVERFLOW: hidden
}
.expandingMenuHeader {
	PADDING-LEFT: 12px; MARGIN-BOTTOM: 2px; CURSOR: pointer
}
.expandingMenuItem {
	PADDING-LEFT: 12px; WIDTH: 145px; MARGIN-BOTTOM: 3px
}
.expandingMenuGroup {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f8f8f8; WIDTH: 160px; MARGIN-BOTTOM: 4px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
.expandingMenuSelected {
	BACKGROUND-IMAGE: url(/images/minus_arrow.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 3px
}
.expandingMenuNotSelected {
	BACKGROUND-IMAGE: url(/images/plus_arrow.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 3px
}
