.jqx-widget-mygrey
{
  font-family: Verdana;
}
.jqx-widget-content-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-mygrey, .jqx-grid-mygrey .jqx-widget-header-mygrey
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #444444);
  background-image: -ms-linear-gradient(top, #444444, #444444);
  background-image: -o-linear-gradient(top, #444444, #444444);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#444444), to(#444444));
  background-image: -webkit-linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(to bottom, #444444, #444444);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-mygrey, .jqx-widget-mygrey.jqx-grid-column-menubutton-mygrey
{
  border-color: #aaaaaa;
}
.jqx-grid-cell-mygrey, .jqx-widget-mygrey .jqx-grid-cell-mygrey
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-mygrey
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #444444);
  background-image: -ms-linear-gradient(top, #444444, #444444);
  background-image: -o-linear-gradient(top, #444444, #444444);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#444444), to(#444444));
  background-image: -webkit-linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(top, #444444, #444444);
  background-image: linear-gradient(to bottom, #444444, #444444);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-mygrey
{
  border-color: #aaaaaa;
  background-color: #efefef;
}
.jqx-widget-mygrey .jqx-grid-cell-sort-mygrey, .jqx-widget-mygrey .jqx-grid-cell-filter-mygrey, .jqx-widget-mygrey .jqx-grid-cell-pinned-mygrey, .jqx-grid-cell-sort-mygrey, .jqx-grid-cell-filter-mygrey, .jqx-grid-cell-pinned-mygrey
{
  background-color: #aaaaaa;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-mygrey .jqx-grid-cell-alt-mygrey, .jqx-widget-mygrey .jqx-grid-cell-sort-alt-mygrey, .jqx-widget-mygrey .jqx-grid-cell-pinned-alt-mygrey, .jqx-widget-mygrey .jqx-grid-cell-filter-alt-mygrey, .jqx-grid-cell-alt-mygrey, .jqx-grid-cell-sort-alt-mygrey, .jqx-grid-cell-filter-alt-mygrey
{
  background-color: #f9f9f9;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-mygrey, .jqx-widget-mygrey .jqx-grid-cell-hover-mygrey
{
  color: #000000;
  text-shadow: none;
  border-color: #999;
  background-color: #A0A0A0;
  background-image: -moz-linear-gradient(top, #A0A0A0, #A0A0A0);
  background-image: -ms-linear-gradient(top, #A0A0A0, #A0A0A0);
  background-image: -o-linear-gradient(top, #A0A0A0, #A0A0A0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#A0A0A0), to(#A0A0A0));
  background-image: -webkit-linear-gradient(top, #A0A0A0, #A0A0A0);
  background-image: linear-gradient(top, #A0A0A0, #A0A0A0);
  background-image: linear-gradient(to bottom, #A0A0A0, #A0A0A0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-mygrey, .jqx-widget-mygrey .jqx-grid-cell-selected-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #999999;
  background-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #999999;
  background-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-mygrey, .jqx-tabs-selection-tracker-top-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-mygrey, .jqx-tabs-selection-tracker-bottom-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-mygrey
{
  background: #A0A0A0;
}
.jqx-splitter-splitbar-vertical-mygrey, .jqx-splitter-splitbar-horizontal-mygrey, .jqx-slider-track-horizontal-mygrey, .jqx-slider-track-vertical-mygrey
{
  background: #efefef;
}
.jqx-splitter-collapse-button-horizontal-mygrey, .jqx-splitter-collapse-button-vertical-mygrey, .jqx-slider-rangebar-mygrey
{
  background: #868686;
}
.jqx-scrollbar-state-normal-mygrey
{
  background-color: #efefef;
  border-color: #efefef;
}
.jqx-grid-bottomright-mygrey, .jqx-panel-bottomright-mygrey, .jqx-listbox-bottomright-mygrey
{
  background-color: #efefef;
}
.jqx-scrollbar-thumb-state-normal-mygrey
{
  background-color: #efefef;
  background-color: #efefef;
  background-image: -moz-linear-gradient(left, #efefef, #efefef);
  background-image: -ms-linear-gradient(left, #efefef, #efefef);
  background-image: -o-linear-gradient(left, #efefef, #efefef);
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left right, #efefef, #efefef);
}
.jqx-scrollbar-thumb-state-normal-horizontal-mygrey
{
  background-color: #efefef;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-mygrey
{
  background-color: #A8A8A8;
  border-color: #A8A8A8;
  background-image: -moz-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -ms-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -o-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -webkit-gradient(linear, left top, right top, from(#A8A8A8), to(#A8A8A8));
  background-image: -webkit-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(left right, #A8A8A8, #A8A8A8);
}
.jqx-scrollbar-thumb-state-hover-horizontal-mygrey
{
  background-color: #A8A8A8;
  border-color: #A8A8A8;
  background-image: -moz-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -ms-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -o-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#A8A8A8), to(#A8A8A8));
  background-image: -webkit-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(to bottom, #A8A8A8, #A8A8A8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-mygrey
{
  background-color: #A8A8A8;
  border-color: #A8A8A8;
  background-image: -moz-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -ms-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -o-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: -webkit-gradient(linear, left top, right top, from(#A8A8A8), to(#A8A8A8));
  background-image: -webkit-linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(left, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(left right, #A8A8A8, #A8A8A8);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-mygrey
{
  background-color: #A8A8A8;
  border-color: #A8A8A8;
  background-image: -moz-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -ms-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -o-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#A8A8A8), to(#A8A8A8));
  background-image: -webkit-linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(top, #A8A8A8, #A8A8A8);
  background-image: linear-gradient(to bottom, #A8A8A8, #A8A8A8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-mygrey
{
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-mygrey
{
  background-color: #e8e8e8;
  border-color: #aaaaaa;
  background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-mygrey
{
  background-color: #d1d1d1;
  border-color: #909090;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-mygrey
{
  background: #111111;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-mygrey
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-mygrey
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-mygrey
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-mygrey
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-mygrey
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-mygrey
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-mygrey
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-mygrey
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-mygrey, .jqx-radiobutton-mygrey, .jqx-radiobutton-check-checked-mygrey, .jqx-radiobutton-hover-mygrey, .jqx-radiobutton-check-indeterminate-mygrey, .jqx-radiobutton-check-indeterminate-disabled-mygrey, .jqx-slider-button-mygrey
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-mygrey, .jqx-tooltip-mygrey, .jqx-tooltip-text-mygrey, .jqx-tooltip-main-mygrey
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-mygrey, .jqx-expander-arrow-bottom-mygrey, .jqx-window-collapse-button-mygrey, .jqx-menu-item-arrow-up-mygrey, .jqx-menu-item-arrow-top-up-mygrey, .jqx-icon-arrow-up-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-mygrey, .jqx-icon-arrow-up-selected-mygrey.jqx-expander-arrow-expanded-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-mygrey, .jqx-grid-column-sortdescbutton-mygrey, .jqx-expander-arrow-top-mygrey, .jqx-window-collapse-button-collapsed-mygrey, .jqx-menu-item-arrow-down-mygrey, .jqx-menu-item-arrow-down-mygrey, .jqx-tree-item-arrow-expand-mygrey, .jqx-grid-group-expand-mygrey, .jqx-widget-mygrey .jqx-grid-group-expand-mygrey, .jqx-icon-arrow-down-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-mygrey, .jqx-icon-arrow-down-selected-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-mygrey, .jqx-menu-item-arrow-top-left-mygrey, .jqx-grid-group-collapse-rtl-mygrey, .jqx-widget-mygrey .jqx-grid-group-collapse-rtl-mygrey, .jqx-icon-arrow-left-mygrey, .jqx-icon-arrow-down-left-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-mygrey
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-mygrey, .jqx-icon-arrow-left-selected-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-mygrey, .jqx-menu-item-arrow-top-right-mygrey, .jqx-menu-item-arrow-collapse-mygrey, .jqx-grid-group-collapse-mygrey, .jqx-widget-mygrey .jqx-grid-group-collapse-mygrey, .jqx-icon-arrow-right-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-mygrey, .jqx-icon-arrow-right-selected-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-mygrey, .jqx-tabs-close-button-mygrey, .icon-close-mygrey
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-mygrey
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-mygrey
{
  background-image: url('images/close.png');
}
.jqx-widget-mygrey .jqx-grid-column-header-mygrey, .jqx-widget-mygrey .jqx-grid-cell-mygrey, .jqx-widget-mygrey .jqx-grid-group-cell-mygrey, .jqx-grid-cell-mygrey
{
  border-color: #aaaaaa;
}
.jqx-checkbox-check-checked-mygrey
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-mygrey
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-mygrey, .jqx-tooltip-main-mygrey
{
  color: #000000;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #F7F968;
}
.jqx-combobox-content-mygrey, .jqx-input-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #ffffff;
}
.jqx-combobox-input-mygrey
{
  color: #222222;
  text-shadow: none;
}
.jqx-input-content-mygrey
{
  color: #222222;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-mygrey, .jqx-popup-mygrey .jqx-fill-state-focus-mygrey
{
  border-color: #111111;
}
.jqx-popup-mygrey.jqx-listbox-mygrey, .jqx-popup-mygrey.jqx-calendar-mygrey,.jqx-menu-dropdown-mygrey,  .jqx-popup-mygrey.jqx-dropdownbutton-popup-mygrey
{
  color: #222222;
  text-shadow: none;
  border-color: #111111;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-mygrey, .jqx-tree-item-arrow-collapse-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-up-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-left-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-right-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-bottom-mygrey
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-up-hover-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-left-hover-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-right-hover-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-bottom-hover-mygrey
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-up-selected-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-left-selected-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-right-selected-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-mygrey .jqx-icon-arrow-bottom-selected-mygrey
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-mygrey .jqx-icon-arrow-up-mygrey, .jqx-tabs-header-mygrey .jqx-icon-arrow-up-mygrey
{
}
.jqx-calendar-mygrey .jqx-icon-arrow-left-mygrey, .jqx-tabs-header-mygrey .jqx-icon-arrow-left-mygrey
{
}
.jqx-calendar-mygrey .jqx-icon-arrow-right-mygrey, .jqx-tabs-header-mygrey .jqx-icon-arrow-right-mygrey
{
}
.jqx-calendar-mygrey .jqx-icon-arrow-bottom-mygrey, .jqx-tabs-header-mygrey .jqx-icon-arrow-bottom-mygrey
{
}
.jqx-widget-mygrey .jqx-grid-cell-mygrey, .jqx-listitem-state-normal-mygrey, .jqx-menu-item-normal-mygrey, .jqx-tree-item-normal-mygrey, .jqx-calendar-cell-mygrey, .jqx-grid-cell-mygrey,.jqx-menu-vertical-mygrey .jqx-menu-item-top-normal-mygrey, .jqx-input-popup-mygrey .jqx-fill-state-normal-mygrey
{
  font-family: Verdana;
}
.jqx-widget-mygrey .jqx-grid-cell-hover-mygrey, .jqx-listitem-state-hover-mygrey, .jqx-menu-item-hover-mygrey, .jqx-tree-item-hover-mygrey, .jqx-calendar-cell-hover-mygrey, .jqx-grid-cell-hover-mygrey,.jqx-menu-vertical-mygrey .jqx-menu-item-top-hover-mygrey, .jqx-input-popup-mygrey .jqx-fill-state-hover-mygrey,.jqx-input-button-header-mygrey, .jqx-input-popup-mygrey .jqx-fill-state-pressed-mygrey,.jqx-input-button-header-mygrey
{
  font-family: Verdana;
}
.jqx-widget-mygrey  .jqx-grid-cell-selected-mygrey, .jqx-listitem-state-selected-mygrey, .jqx-menu-item-selected-mygrey, .jqx-tree-item-selected-mygrey, .jqx-calendar-cell-selected-mygrey, .jqx-grid-cell-selected-mygrey,.jqx-menu-vertical-mygrey .jqx-menu-item-top-selected-mygrey, .jqx-grid-selectionarea-mygrey
{
  font-family: Verdana;
}
.jqx-icon-calendar-mygrey
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-mygrey
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-mygrey
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-mygrey
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-mygrey
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-mygrey
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last-mygrey
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-mygrey
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-mygrey
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-mygrey>.jqx-grid-group-expand-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-hover-mygrey>.jqx-grid-group-expand-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-selected-mygrey>.jqx-grid-group-expand-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-mygrey>.jqx-grid-group-collapse-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-hover-mygrey>.jqx-grid-group-collapse-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-selected-mygrey>.jqx-grid-group-collapse-mygrey
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-mygrey>.jqx-grid-group-expand-rtl-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-hover-mygrey>.jqx-grid-group-expand-rtl-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-selected-mygrey>.jqx-grid-group-expand-rtl-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-mygrey>.jqx-grid-group-collapse-rtl-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-hover-mygrey>.jqx-grid-group-collapse-rtl-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-mygrey.jqx-grid-cell-selected-mygrey>.jqx-grid-group-collapse-rtl-mygrey
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-column-menubutton-mygrey, .jqx-grid-column-sortdescbutton-mygrey
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-mygrey
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-mygrey
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-mygrey
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-mygrey
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-mygrey
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-mygrey
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-mygrey
{
  background-image: url('images/icon-plus.png');
}
