.jqx-widget-myred
{
  font-family: Verdana;
}
.jqx-widget-content-myred
{
  color: #222222;
  border-color: #AAAAAA;
  background-color: #FFFFFF;
  font-family: Verdana;
}
.jqx-widget-header-myred
{
  color: #0A0909;
  border-color: #E8ABAB;
  background-color: #D63B3B;
  background-image: -moz-linear-gradient(top, #E24444, #E8A0A0);
  background-image: -ms-linear-gradient(top, #E24444, #E8A0A0);
  background-image: -o-linear-gradient(top, #E24444, #E8A0A0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E24444), to(#E8A0A0));
  background-image: -webkit-linear-gradient(top, #E24444, #E8A0A0);
  background-image: linear-gradient(top, #E24444, #E8A0A0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-cell-myred
{
  background-color: #FFFFFF;
}
.jqx-fill-state-normal-myred
{
  color: #222222;
  border-color: #AAAAAA;
  background-color: #EFEFEF;
  background-image: -moz-linear-gradient(top, #776F6F, #D1CACA);
  background-image: -ms-linear-gradient(top, #776F6F, #D1CACA);
  background-image: -o-linear-gradient(top, #776F6F, #D1CACA);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#776F6F), to(#D1CACA));
  background-image: -webkit-linear-gradient(top, #776F6F, #D1CACA);
  background-image: linear-gradient(top, #776F6F, #D1CACA);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-grid-selectionarea-myred
{
  border-color: #AAAAAA;
  background-color: #EFEFEF;
}
.jqx-grid-cell-sort-myred, .jqx-grid-cell-filter-myred, .jqx-grid-cell-pinned-myred
{
  background-color: #EFEFEF;
  color: #000000;
}
.jqx-grid-cell-alt-myred, .jqx-grid-cell-sort-alt-myred, .jqx-grid-cell-filter-alt-myred
{
  background-color: #EFEFEF;
  color: #000000;
}
.jqx-fill-state-hover-myred
{
  color: #222222;
  border-color: #AAAAAA;
  background-color: #C98888;
}
.jqx-fill-state-pressed-myred
{
  color: #222222;
  border-color: #AAAAAA;
  background-color: #D1D1D1;
}
.jqx-tabs-title-selected-top-myred, .jqx-tabs-selection-tracker-top-myred
{
  color: #222222;
  border-color: #AAAAAA;
  border-bottom: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-tabs-title-selected-bottom-myred, .jqx-tabs-selection-tracker-bottom-myred
{
  color: #222222;
  border-color: #AAAAAA;
  border-top: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-splitter-splitbar-hover-myred
{
  background: #C98888;
}
.jqx-splitter-splitbar-vertical-myred, .jqx-splitter-splitbar-horizontal-myred, .jqx-slider-track-horizontal-myred, .jqx-slider-track-vertical-myred
{
  background: #EFEFEF;
}
.jqx-splitter-collapse-button-horizontal-myred, .jqx-splitter-collapse-button-vertical-myred, .jqx-slider-rangebar-myred
{
  background: #D1D1D1;
}
.jqx-scrollbar-state-normal-myred
{
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}
.jqx-grid-bottomright-myred, .jqx-panel-bottomright-myred, .jqx-listbox-bottomright-myred
{
  background-color: #EFEFEF;
}
.jqx-scrollbar-thumb-state-normal-myred
{
  background-color: #EFEFEF;
  background-image: -moz-linear-gradient(left, #776F6F, #D1CACA);
  background-image: -ms-linear-gradient(left, #776F6F, #D1CACA);
  background-image: -o-linear-gradient(left, #776F6F, #D1CACA);
  background-image: -webkit-gradient(linear, left top, right top, from(#776F6F), to(#D1CACA));
  background-image: -webkit-linear-gradient(left, #776F6F, #D1CACA);
  background-image: linear-gradient(left, #776F6F, #D1CACA);
}
.jqx-scrollbar-thumb-state-hover-myred
{
  background-color: #C98888;
  background-image: none;
}
.jqx-scrollbar-thumb-state-pressed-myred.jqx-progressbar-value-vertical-myred
{
  background-color: #D1D1D1;
  background-image: none;
}
.jqx-radiobutton-check-checked-myred
{
  background: #D1D1D1;
}
.jqx-grid-column-sortascbutton-myred, .jqx-expander-arrow-bottom-myred, .jqx-window-collapse-button-myred, .jqx-menu-item-arrow-up-myred, .jqx-menu-item-arrow-top-up-myred, .icon-arrow-up-myred
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-myred, .icon-arrow-up-selected-myred
{
  background-image: url('images/icon-up.png');
}
.icon-arrow-up-hover-myred
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-myred, .jqx-grid-column-sortdescbutton-myred, .jqx-expander-arrow-top-myred, .jqx-window-collapse-button-collapsed-myred, .jqx-menu-item-arrow-down-myred, .jqx-menu-item-arrow-down-myred, .icon-arrow-down-myred
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-myred, .icon-arrow-down-selected-myred
{
  background-image: url('images/icon-down.png');
}
.icon-arrow-down-hover-myred
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-myred, .jqx-menu-item-arrow-top-left-myred, .icon-arrow-left-myred, .icon-arrow-down-left-myred
{
  background-image: url('images/icon-left.png');
}
.icon-arrow-left-hover-myred
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-myred
{
  background: #EFEFEF;
}
.jqx-menu-item-arrow-left-selected-myred, .icon-arrow-left-selected-myred
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-myred, .jqx-menu-item-arrow-top-right-myred, .icon-arrow-right-myred
{
  background-image: url('images/icon-right.png');
}
.icon-arrow-right-hover-myred
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-myred, .icon-arrow-right-selected-myred
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-myred, .jqx-tabs-close-button-myred, .icon-close-myred
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-myred
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-myred
{
  background-image: url('images/close.png');
}
.jqx-widget-myred .jqx-grid-column-header-myred, .jqx-widget-myred .jqx-grid-cell-myred, .jqx-widget-myred .jqx-grid-group-cell-myred, .jqx-grid-cell-myred
{
  border-color: #AAAAAA;
}
.jqx-window-modal-myred
{
  background: #000000;
}
.jqx-window-modal-myred
{
  border-color: #888888;
}
.jqx-checkbox-check-checked-myred
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-myred
{
  background-image: url('images/check_indeterminate_black.png');
}
